
*, *::after, *::before {
  box-sizing:border-box;  
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#ffffff;
	--color-prim:#FFFF5E;
	--color-sec:#82ECFF;
	--color-tert:#F164EB;
	--color-button:#ffffff;
	--color-button2: #121212;
	--color-backgroundarticle:#121212;

	--fontsize-prim: 2em;
	
}

html	{
	height: 100%;
	width: 100%;
}


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/*css voor nav bar*/



body{
	text-decoration: none; 
	margin: 0;
	max-width: 100%;
	
}

.disable-scroll {
	overflow: hidden;
}

ul{
	list-style-type: none;
}

img {
	max-width: 100%;
}




header p{
	font-size: 1em;
}


header	{
	margin-top: 5vh;
}


header img:nth-of-type(1)	{
	opacity: 20%;

	height: 43px;
	width: auto;


}

nav ul img:nth-of-type(1)	{
	opacity: 100%;

	width: 20px;
	height: auto;

}

header nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	place-items: center;

	position: sticky;
	top: 0em;
	margin-top: -3em;
	margin-left: 1.2em;
	margin-right: 1.2em;
	max-width: 100%;
	z-index: 300;
	

	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: .9em;
	font-weight: bold;
	color: #ffffff;
}



header nav ul {
	display: flex;
	margin-left :auto;
	gap: 1em;
	place-items: center;
	
}

nav ul li:nth-of-type(2)	{
	opacity: 40%;
}

/************************************** Code voor hamburger menu ****************************************/

nav ul li:nth-of-type(4) button{
	display: grid;
	place-items: center;
	
	
	width: 2.8em;
	height: 2.8em;

	border-radius: 50%;
	border-width: 0;
	background-color: var(--color-button);

	
}




nav ul li:nth-of-type(4) button span	{
	grid-row-start:1;
  	grid-column-start:1;
	
	
	width: 1.4em;
	height: .2em;
	background-color: var(--color-button2);

	transition-duration: .5s;
}


nav ul li:nth-of-type(4) button span:nth-of-type(1){

	transform:translateY(-.4em);
	
}


nav ul li:nth-of-type(4) button span:nth-of-type(3){

	transform:translateY(.4em);
	
}

nav ul li:nth-of-type(4) button[aria-expanded="true"] span:nth-of-type(1){
	
	transform:rotate(45deg) scalex(1.25);

}

nav ul li:nth-of-type(4) button[aria-expanded="true"] span:nth-of-type(2){
	opacity: 0%;
	transition-duration: 0s;
}

nav ul li:nth-of-type(4) button[aria-expanded="true"] span:nth-of-type(3){
	transform:rotate(-45deg) scalex(1.25);
}

/******************************************* code voor overlay hamburger menu *************************************************************/


.menu	{
 	
	display: none; 
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;

	width: 100vw;
	height: 100vh;

	background-color: var(--color-background);
	z-index: 299;


}

.menu img	{
	display: none;

}

@media (min-width: 670px)	{
	.menu img	{
		position: absolute;
		display: block;
	
		left: 0;
		width: 40vw;
		height: 100vh;
	
	}
}

@media (min-width: 1280px)	{
	.menu img	{
	position: absolute;
	display: block;

	left: 0;
	width: 40vw;
	height: 100vh;

}
}

.overlaylayout	{
	width: 80%;
	margin-top: 10vh;
}

@media (min-width: 670px){
	.overlaylayout	{
		width: 60%;
		margin-left: 40vw;
		margin-top: 15vh;
	}

}



@media (min-width: 1280px)	{
	.overlaylayout	{
	display: flex;
	flex-direction: row;
	width: 60%;
	margin-left: 40vw;
	margin-top: 15vh;
}
}





@media (min-width: 1280px)	{
	.menu ul:nth-of-type(2)	{
	margin-left: 10vw;
}
}




.menu a{

	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: bold;
	font-size: 1.6em;
	line-height: 1.6em;
	text-decoration: none;
	color: var(--color-text);

}





/******************************************* code om tekst in de sections responsive te maken *************************************************************/


.home main {
	z-index: -1;
}

.home section	{
	height: 80vh;
	width: 100vw;
}

.hoofdkop	{
	display: grid;
	grid-template-rows: 0.5fr 1fr 0.5fr;
	gap: 0;

	position: relative;
	top: 20%;
}

.dep	{
	display: grid;
	grid-template-rows: 0.5fr 1fr 0fr ;
	
	max-height: 40%;
	
	position: relative;
	top: 25%;
	
}



@media (min-width: 670px)	{
	.home section {
	height: 90vh;
	width: 100vw;
}
}

@media (min-width: 1280px)	{
	.home section {
	height: 100vh;
	width: 100vw;
}
}



section	h1{
	
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 2.6em;

	
	line-height: 1em;
	max-width: 50%;


	margin-left: 5vw;
	margin-top: 0;
	margin-bottom: 0;
}

@media (min-width: 670px)	{
	section h1{
	width: 60%;
	font-size: 4em;
	line-height: 1em;
	
	margin-left: 7.5vw;
}
}

@media (min-width: 1280px)	{
	section h1{
	width: 40%;
	font-size: 5em;
	line-height: 1em;

	margin-left: 10vw;
	
}
}



section	h2{
	
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 2.6em;

	
	line-height: 1em;
	max-width: 50%;	

	margin-left: 5vw;
	margin-top: 0;
	margin-bottom: 0;
}

@media (min-width: 670px)	{
	section h2{
	width: 60%;
	font-size: 4em;
	line-height: 1em;
	
	margin-left: 7.5vw;
}
}

@media (min-width: 1280px)	{
	section h2{
	width: 40%;
	font-size: 5em;
	line-height: 1em;
	
	margin-left: 10vw;
}
}


section	h3{
	
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1em;
	
	
	margin-left: 5vw;
	margin-bottom: .2em;
	margin-top: .2em;
}

@media (min-width: 670px)	{
	section h3{
	
	font-size: 1em;
	line-height: 1em;
	
	margin-left: 7.5vw;
	margin-bottom: .3em;
	margin-top: .3em;
}
}

@media (min-width: 1280px)	{
	section h3{
	
	font-size: 1.2em;
	line-height: 1em;
	
	margin-left: 10vw;
	margin-bottom: .4em;
	margin-top: .4em;
}
}


.home section	p{
	
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.2em;
	font-weight: 500;
	color: #ffffff;
	
	
	line-height: 1.2em;
	width: 85%;
	

	margin-left: 5vw;
	margin-bottom: 0;
	
	
}



@media (min-width: 670px)	{
	.home section p{
	width: 60%;
	font-size: 1.2em;
	
	margin-left: 7.5vw;
}
}

@media (min-width: 1280px)	{
	.home section p{
	width: 50%;
	font-size: 1.2em;
	
	margin-left: 10vw;
}
}









/**************************** ****************************************** Hier stopt het	 ****************************************************************************************/

/**************************************************************Voor de kopjes die rechts komen***********************************************************************************/


.hoofdkop {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 2em;
	grid-row-gap: 0px;
	
	
}

@media (min-width: 00px)	{
	.kopjenep{
	display: none;
}
}

@media (min-width: 670px)	{
	.kopjenep{
	display: block;
	
  	overflow: hidden;
  	text-overflow: ellipsis;
}
}









/*Code voor de achtergronden*/


.home section:nth-of-type(1) .video-achtergrond	{
	position: absolute;
	
    top: 0px;
    right: 0px;
    z-index: -1;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.home section:nth-of-type(3) .video-achtergrond2 {
	position: absolute;
	
    top: 0%;
    bottom: 0%;
    z-index: -1;
	object-fit: cover;
	width: 100%;
	height: 100%;
}


.home section:nth-of-type(4) .video-achtergrond3 {
	position: absolute;
	
    top: 0%;
    bottom: 0%;
    z-index: -1;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.home section:nth-of-type(2) img	{
	
	width: 100vw;
	height: 100vh;

}

.home section:nth-of-type(1)	{
	color: var(--color-prim);
	height: 80vh;

	
}

.home section:nth-of-type(2)	{
	color: var(--color-sec);
	background-color: #E02C03;

	background-image: url("../images/sturges.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	

}

.home section:nth-of-type(3)	{
	
	position: relative;
	
	color: var(--color-tert);
	
	
}

.home section:nth-of-type(4)	{
	position: relative;

	color: var(--color-prim);
}











/**********************************************************Hier begint Werner*****************************************************************/





/**********************************************************Voor achtergrond*****************************************************************/

.werner header {

	margin: 0;
}

.werner	{
	background-color: var(--color-backgroundarticle);
}

.werner header section	{
	position: relative;
	width: 100vw;
	height: 105vh;
}


.sticky{
	position: sticky;
	top: 40%;
	
}




.werner .video-achtergrond	{
	position: absolute;
	
    top: 0px;
    right: 0px;
    z-index: -1;
	object-fit: cover;
	width: 100%;
	height: 100%;
	max-height: 100vh;

	top: -32vh;
}


.werner article	{
	background-color: var(--color-backgroundarticle);
	max-width: 100%;

	margin-left: 5vw;
}

.werner header section p	{
	margin-left: 5vw;
}


@media (min-width: 670px)	{
	.werner article	{
		margin-left: 7.5vw;
	}
	.werner header section p	{
		margin-left: 7.5vw;
	}
}

@media (min-width: 1280px)	{
	.werner article	{
		margin-left: 10vw;
	}
	.werner header section p	{
		margin-left: 10vw;
	}
}

.werner main article	{
	background-color: #121212;
}


.werner section	{
	margin-top: 10%;
}

.werner section h1	{
	color: var(--color-prim);

	font-size: 2.7em;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	
	
	margin-top: .1em;
	margin-bottom: .1em;
	line-height: 5vh;
	max-width: 50%;
	
}


.werner section h2	{
	color: var(--color-prim);

	font-size: 1em;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	
	
	margin-top: 0em;
	margin-bottom: 0em;
	line-height: 2em;
	max-width: 90%;
	
}

.werner section h3	{
	color: var(--color-prim);

	font-size: 1em;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	
	
	margin-top: 0em;
	margin-bottom: 0em;
	
	max-width: 90%;
	
}


.werner section h4	{
	color: var(--color-prim);

	font-size: 1em;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	margin-left: 0;
	margin-bottom: 0em;
	line-height: 2em;
	max-width: 90%;
	
}



.werner section p	{
	
	color: #ffffff;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	

}

@media (min-width: 670px)	{
	.werner section h1{

	font-size: 4em;
	line-height: .8em;

	max-width: 40%;
	}

	.werner section h3{
		font-size: 1em;
	}

	.werner section p:nth-child(1){
		font-size: 1em;
	}
}

@media (min-width: 1280px)	{
	.werner section h1{

	font-size: 5em;
	line-height: .9em;

	max-width: 50%;

	}
	.werner section h3{
		font-size: 1.2em;
	}

	.werner section p:nth-child(1){
		font-size: 1.2em;
	}
}

/*voor responsive 670px en dan 1280px*/


@media (min-width: 860px){


	.werner article section {
		display: flex;
		
		gap: 2em;

	}
	.tekst1 {

		font-size: 1.2em;
		

		width: 45%;
		margin-right: 0;

		margin-top: 0;


	}

	

	.foto1{
		width: 50%;
		
		margin-top: 20%;
		
	}
	.foto2 {
		width: 45%;

		margin-top: -12%;

		
	
	}

	.tekst2{

		font-size: 1.2em;
		
		
		width: 50%;

		margin-top: 4%;
		
	}

	.werner article section h4	{
		font-size: 1.2em;


	}

	.tekst3{
		width: 38%;

		

	}

	.foto3{
		width: 55%;
		margin-top: 2.5%;
	}
	
}


.tekst1	{
	font-size: 1.4em;
	font-weight: 500;

	max-width: 95%;

}
.tekst2	{
	font-size: 1.4em;
	font-weight: 300;

	max-width: 95%;
}
.tekst3	{
	font-size: 1.4em;
	font-weight: 400;

	max-width: 95%;
	margin-bottom: 10%;
}

.tekst1 p:nth-last-of-type(2)	{
	font-weight: 300;
}



.foto1 p{
	font-size: .8em;
	line-height: 1.5em;

	margin-top: 0;
	font-weight: 300;

	max-width: 90%;

	opacity: 50%;
}

.foto2 p{

	font-size: .7em;
	line-height: 1.5em;

	margin-top: 0;
	font-weight: 300;

	max-width: 90%;

	opacity: 50%;
	}

.foto3	p{
	font-size: .7em;
	line-height: 1.5em;

	margin-top: 0;
	font-weight: 300;

	opacity: 50%;
}












.werner iframe	{
	display: block;
	margin-top: 10%;

	width: 90vw;
	height: 30vh;

}

@media (min-width: 670px)	{
.werner iframe	{
	display: block;
	margin-left: auto;
	margin-right: auto;
	

	width: 85vw;
	height: 70vh;

}
}

@media (min-width: 1280px)	{
	.werner iframe	{
		display: block;
		margin-left: auto;
		margin-right: auto;

	
		width: 80vw;
		height: 90vh;
	
	}
	}




	.werner article img:nth-of-type(3)	{
	
		display: block;
		
		margin-top: 10%;
		margin-right: auto;
	
		max-width: 90vw;
		
	
	}

	




 